@textColor: #8a6f4d;
@borderColor: #cecece;
.product-brief {
  .slide {
    .van-swipe__indicator {
      width: 24px;
      height: 12px;
      border-radius: 6px;
    }
    .van-swipe__indicator:not(:last-child) {
      margin-right: 8px;
    }
    .van-swipe__indicator--active {
      width: 40px;
    }
    img {
      width: 100%;
    }
  }
  .light-spot {
    height: 208px;
    background-color: #fff;
    > ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      > li {
        width: 25%;
        text-align: center;
          > div {
            width: 95px;
            height: 95px;
            background-color: #d7bf8d;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 10px;
            >img {
              width: 100%;
            }
          }
          span {
            color: @textColor;
          }
      }
    }
  }
  .open-city {
    background-color: #efeff4;
    > .title {
      height: 70px;
      background-color: #8b6f4e;
      line-height: 70px;
      color: #fff;
      padding-left: 60px;
      margin-bottom: 10px;
      >img {
        width: 28px;
        height: 35px;
      }
      > .open {
        margin-left: 28px;
      }
      > .city {
        margin-left: 60px;
      }
    }
    > .norm {
      margin-bottom: 10px;
      >.title {
        img {
          width: 48px;
          height: 32px;
        }
      }
    }
    > .flow {
      >.title {
        img {
          width: 45px;
          height: 46px;
        }
      }
    }
    > .norm,
    > .flow {
      padding-left: 46px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      // height: 423px;
      > .title {
        height: 78px;
        line-height: 78px;
        padding-top: 4px;
        color: #8b6f4e;
        font-weight: bold;
        border-bottom: 1px solid #8b6f4e;
        > span {
          margin-left: 30px;
        }
      }
      > .content {
        color: #8b6f4e;
        padding-bottom: 20px;
        .c-item {
        padding: 0px 20px;
        margin-top: 20px;
        h3 {
          margin-bottom: 10px;
        }
        p {
            padding-left: 20px;
            margin-bottom: 10px;
          }
        }
        img {
          width: 100%;
        }
      }
    }
    > .button {
      text-align: center;
      padding: 30px;
      > .submit {
        display: inline-block;
        border: none;
        width: 100%;
        height: 72px;
        background-color: #f79a19;
        border-radius: 6px;
        line-height: 72px;
        font-size: 28px;
        color: #fff;
      }
    }
  }
}
