/* 初始化样式 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

em,
i {
  font-style: normal;
}

ul,
li {
  list-style-type: none;
}

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

a {
  text-decoration: none;
  color: #151414;
  font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: 'Microsoft YaHei';
}

img {
  border: none;
}

input,
textarea {
  font-family: 'Microsoft YaHei';
  outline: none;
  border: none;
}

/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*多行溢出 手机端使用*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 2;
    */
  -webkit-box-orient: vertical;
}

/* 移动端点击a链接出现蓝色背景问题解决 */
a:link,
a:active,
a:visited,
a:hover {
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img {
  vertical-align: middle;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* overflow: scroll; */
  font-size: 22px;
  -webkit-overflow-scrolling: touch;
  position: relative;
  background-color: #f6f6f7;
}
#app.pt {
  padding-top: 95px;
}

.van-cell {
  font-size: 22px;
}

/*flex*/
.flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

/*flex下面的子集需要是块级元素*/
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-justify-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-justify-around {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
}

.flex-justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-justify-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

/*基线对齐*/
.flex-align-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline;
}

.flex-align-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}




.flex-4-parent {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.flex-4-child {
  box-sizing: border-box;
  flex: 0 0 50%;
}



a {
  text-decoration: none;
  color: inherit;
}

body {
  /*background-color: #f6f6f7;*/
}
body,
html {
  height: 100%;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.bt {
  border-top: 1px solid #cecece;
}
.bb {
  border-bottom: 1px solid #cecece;
}
.bl {
  border-left: 1px solid #cecece;
}
.br {
  border-right: 1px solid #cecece;
}
.border-bt-e2 {
  border-bottom: 1px solid #e2e2e2;
}
.text-ag-center {
  text-align: center;
}
.active-footer {
  padding-bottom: 95px;
}
.color-8b6f4e {
  color: #8b6f4e;
}
.color-666 {
  color: #666666;
}
.color-247811 {
  color: #247811;
}
.width-270 {
  width: 270px
}
.color-d51717 {
  color: #d51717;
}
.tr {
  text-align: right;
}
.margin-right-45 {
  margin-right: 45px;
}
.van-picker__toolbar {
  height: 88px;
  line-height: 88px;
}
.van-picker__cancel, .van-picker__confirm {
  color: #1989fa;
  padding: 0 30px;
  font-size: 28px;
}
.van-picker-column__item {
  padding: 0 10px;
  color: #969799;
  font-size: 32px;
}
.van-picker-column__item--selected {
  font-weight: 500;
  color: #323233;
}
.van-toast--text {
  padding: 16px 24px;
  min-width: 192px;
}
.van-toast {
  font-size: 28px;
  line-height: 40px;
  border-radius: 8px;
}
.van-toast--default {
  width: 180px;
  padding: 20px;
  min-height: 180px;
}
.van-loading {
  width: 60px;
  height: 60px;
}
.van-loading__spinner--spinner i::before {
  width: 4px;
}
.van-toast__text {
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.ds-block {
  display: block;
}
.mb20 {
  margin-bottom: 20px;
}
.fr {
  float: right;
}
.vertical-align-middle {
  vertical-align: middle;
}
#houseFinance {
  height: 100%;
}
.van-dialog__header {
  font-size: 22px;
}
.van-dialog__message {
  padding: 50px;
  font-size: 22px;
  line-height: 3;
  max-height: 120vh;
  overflow-y: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}
.van-button--large {
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.van-button {
  height: 88px;
  line-height: 84px;
  border-radius: 2px;
  font-size: 22px;
}
.w-90 {
  width: 90px;
}
.w-150 {
  width: 150px;
}
.w-310 {
  width: 310px;
}
.w-35-percentage {
  width: 35%;
}
.fl-left {
  float: left;
}
.vm {
  vertical-align: middle !important;
}
.van-actionsheet__item {
  height: 100px;
}
.van-actionsheet__item, .van-actionsheet__cancel {
  line-height: 100px;
  font-size: 32px;
  text-align: center;
  background-color: #fff;
}
.van-actionsheet__header {
  font-size: 32px;
  line-height: 88px;
  text-align: center;
}
.van-actionsheet__header .van-icon-close {
  top: 0;
  right: 0;
  padding: 0 30px;
  font-size: 46px;
  color: #969799;
  position: absolute;
  line-height: inherit;
}
._v-container>._v-content>.loading-layer>.no-data-text[data-v-ecaca2b0] {
  font-size: 28px;
}
.ml20 {
  margin-left: 20px !important;
}
.color-000 {
  color: #000000;
}
